.backgroundBarOutside{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}
.arrowLeft{
    position: relative;
    display: block;
    padding: 1rem;
    z-index: 2;
}
.rulesContainer{
    display: flex;
    position: relative;
    height: 20rem;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem 2rem;
    align-self: center;
}
.rules{
    position: relative;
    z-index:2;
}
.enterBar{
    /* position: fixed; */
    z-index: 2;
    position: relative;
    /* bottom: 1rem; */
    /* padding: 2rem; */
    border: solid 0.2rem #93A082;
    background-color: black;
    color: #93A082;
    font-size: large;
    font-family: 'Permanent Marker', cursive;
    margin-top: 3rem;
    padding: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    text-align: center;
    flex-wrap: wrap;
}
a{
    position: relative;
    text-decoration: none;
    color: white;
}