body{
    height: 100vh;
    width: 100vw;
    
}
.backgroundBarOutside{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}
.arrowLeft{
    position: relative;
    display: block;
    height: 10%;
    padding: 1rem;
    z-index: 2;
    text-decoration: none;
}
.rulesContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 80%;
    /* padding: 1rem 2rem; */
}
.rules{
    height: 100%;
    width: 90%;
    z-index:2;
    object-fit: contain;
}
.enterBar{
    /* position: fixed; */
    z-index: 2;
    /* bottom: 1rem; */
    /* padding: 2rem; */
    border: solid 0.2rem #93A082;
    background-color: black;
    color: #93A082;
    font-size: large;
    font-family: 'Permanent Marker', cursive;
    margin-top: 3rem;
    padding: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: #93A082;
}